<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xiaoxueqi.cloudcomputing.dao.ContainerDao">

    <insert id="createContainer">
        insert into
            cloud.container(name, image, uid, username, port, cid)
        values
            (#{name}, #{image}, #{uid}, #{username}, #{port}, #{cid})
    </insert>

    <insert id="createContainer2">
        insert into
            cloud.container(name, image, uid, username, port, cid, course_id)
        values
            (#{name}, #{image}, #{uid}, #{username}, #{port}, #{cid}, #{courseId})
    </insert>

    <delete id="removeContainer" parameterType="String">
        delete from
            container
        where
            #{cid} = cid
    </delete>

    <select id="getCidByUid" resultType="String">
        select
            cid
        from
            cloud.container c
        where
            c.uid = #{uid}
    </select>

    <select id="getCidByCourse" resultType="String">
        select
            cid
        from
            cloud.container c
        where
            c.course_id = #{cid}
    </select>

    <select id="getCidByUidAndCourse" resultType="String">
        select
            cid
        from
            cloud.container c
        where
            c.course_id = #{courseId} and c.uid = #{uid}
    </select>

    <select id="searchUsernameByCid" resultType="String">
        select
            username
        from
            cloud.container c
        where
            #{cid} = c.cid
    </select>

</mapper>